body{
font-family: 'Cutive Mono', monospace;
font-size: 17px;
background-color: #77818b;
color: #22313f;
}
body > .container{
margin-top: 50px;
padding-bottom: 50px;
background-color: #ffffff;
}
.navbar-inverse {
	background-color: #384654;
	border-color: #000008;
}
.navbar-inverse .navbar-brand {
	color: #eff3f7;
}
.navbar-inverse .navbar-nav > li > a {
	color: #c0c0c0;
}
